.container{
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-size: 30px;
  font-weight: bold;
}

.icon {
  margin-right: 8px; 
  vertical-align: middle; 
}