/* paging.module.css */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.pageItem {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-right: 5px; /* 페이지 아이템 간 간격 */
}

.pageItem:first-child {
  border-radius: 5px 0 0 5px;
}

.pageItem:last-child {
  border-radius: 0 5px 5px 0;
}

.pageLink {
  text-decoration: none;
  color: #337ab7;
  font-size: 1rem;
}

.activePageItem {
  background-color: #337ab7;
  color: white;
}

.activePageItem .pageLink {
  color: white;
}

.pageLink:hover,
.pageLink.active {
  color: blue;
}
