.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  background-color: #f0f0f0; 
}

.header h1{
  margin-bottom: 10px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
  flex-wrap: wrap;
}

.post {
  background-color: white;
  width: 30%;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  color: black;
}

.post h2, .post p {
  margin-bottom: 10px; 
}

.buttonGroup {
  display: flex;
  gap: 5px;
}

.button {
  padding: 10px 25px;
  margin: 5px;
  color: white;
  border: none;
  cursor: pointer;
  background-color: var(--btn);
  border-radius: 3px;
  font-size: 16px;
}

.button:hover {
  background-color: #111a99;
}

.selectedProject {
  background-color: #e0f7fa; 
}

.selectedFile {
  color: black;
  font-size: 16px;
  margin: 10px;
  padding: 5px;
}

.analysisResult {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.inputContainer input[type="text"],
.inputContainer select,
.inputContainer input[type="file"] {
  padding: 5px;
  font-size: 16px;
}

@media (max-width: 1200px) {
  .post {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .post {
    width: 100%;
  }

  .header {
    align-items: center;
  }

  .inputContainer {
    flex-direction: column;
    align-items: center;
  }

  .buttonContainer {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .header input[type="text"],
  .header select,
  .header input[type="file"],
  .header button,
  .button {
    width: 100%;
  }

  .buttonGroup {
    flex-direction: column;
    width: 100%;
  }
}

.header .button + .button {
  margin-left: 5px;
}