.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center; 
  background-color: #f0f0f0;
}

.post {
  background-color: white;
  width: 30%;
  border: 1px solid #ccc; 
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  margin-bottom: 20px;
  color: black; 
}

/* postcard 눌렀을 때 색상 변화(연한 파란색) */
.post:hover {
  background-color: #e0f7fa;
}

@media screen and (max-width: 1280px) {
  .post {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .post {
    width: 100%;
  }
}

.buttonGroup {
  display: flex;
  gap: 5px;
}

.button {
  padding: 10px 25px;
  margin: 5px;
  color: white;
  border: none;
  cursor: pointer;
  background-color: var(--btn);
  border-radius: 3px;
  font-size: 16px;
}